*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    line-height: 20px;  
    color: #cedef1;
    background-color: #513f94;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 20px;
}
.header{
    
}
.header__top{
    background-color: #2e2d2d;
    transition: transform 1s;

}
.header__close{
    position: absolute;
    top:0;
    right:  20px;
    color: #fff;
    line-height: 45px;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 5px;
}
.header__top-inner,
.header__content-inner{
    display: flex;
    justify-content: space-between;
}
.header__top-right{
    display: flex;
    justify-content: end;
}
.default__btn{    
    color: #1b1b1b;
    background-color: #ffc222;
    cursor: pointer;
    padding: 10px 15px;
    max-height: 45px;   
}
.header__btn{
    float: right; 
    line-height: 45px;
    padding: 0px 15px;   
    font-size: 16px;   
}
.header__info{
    color: #fff;
    letter-spacing: 0.25px;
    line-height: 45px;
    font-size: 18px;
    padding-right: 10px;
}

.header__logo{
    padding: 0;
    width: 100px;
    height: 45px;
}
.menu {
    float: right;
}
.menu li{
    display: inline-block;
    padding: 0 10px;
    border-right: 1px #2f2f36 solid;
}
.menu li > a{
    color: #e4e3ff;
    font-size: 18px;
    line-height: 45px;
    padding: 0 5px;
    text-align: center;
}
.menu li:first-child{
    border-left: 1px #2f2f36 solid;
}
.header__content{
    background-color: #3b3c49;
}
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none;
    transition: 0.5s all;
}

.popup__bg.active {
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active { 
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}
.close__popup{
    width: 20px;
    height: 20px;
    background-color: red;
}
.slider{
 position: relative;
 width: 1000px;
 height: 250px;
 margin: 10px;
 border: 1px #000 solid;
 user-select: none;
 touch-action: pan-y;
}
.slider img{
   pointer-events: none;
}
.slider__items{
    display: flex;
    transform: translate3d(0px, 0px, 0px);
}
.slider__item{
    flex-shrink: 0;
    width: 1000px;
    height: 250px;
    line-height: 45px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__item-inner{
   text-align: center;
}
.slider__container{
    width: 1000px;
    height: 250px;
    overflow: hidden;
}
.slider__arrows{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform:translateY(-50%);
}
.slider__next-btn.disabled,
.slider__prew-btn.disabled {
  opacity: .25;
  pointer-events: none;
}


@media screen and (max-width: 1320px) {
    .header__close{
        position: static;
        float: none;
    }
    .header__btn{
        float: none; 
        
    }
}